<html>
<p>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial1_R.html">Basic Operations in R</a><br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial2_R.html">Inference about Means</a><br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial3_R.html">Correlation and Regression</a><br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial4_R.html">Inference about Population Regression Line</a><br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial5_R.html">Features of Simple Linear Regression</a><br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial6_R.html">Categorical Predictors in Regression Model</a><br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial7_R.html">Multiple Regression<>/a<br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial8_R.html">Multicollinearity</a><br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial9_R.html">Dummy Variables in Multiple Regression</a><br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial10_R.html">Between-Subjects ANOVA</a><br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial11_R.html">Contrasts and ANOVA</a><br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial12_R.html">Factorial Design</a><br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial13_R.html">One-Way Within-Subjects Design</a><br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial14_R.html">Two-Way Within-Subjects Design</a><br><br>
<a href="http://clanlab.dyndns.org/~lxyang/tutorial15_R.html">Mixed Design</a><br><br>
</p>
</html>
